<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		<!-- Please don't delete this line-->
		<div class="col-md-6">
			<p class="copyright">
				&copy; 2018 Full Stack Toronto, Theme based on <a href="https://github.com/gdg-x/zeppelin" target="_blank">Project Zeppelin</a>. Designed and created by <a href="https://plus.google.com/+OlehZasadnyy/about" target="_blank">Oleh Zasadnyy</a> &middot; <a href="http://lviv.gdg.org.ua" target="_blank">GDG Lviv</a>
			</p>
		</div>
	</div>
</footer>
<!-- End Footer -->
<script>
  fbq('track', 'ViewContent', {
    value: 0,
    currency: 'CAD',
  });
</script>
